/* Define the color variables */

:root {
	--color-background: #fff;
	--color-background-main: #eee;
	--text-color: #585858;
	--text-color-soft: #2f3336;
	--text-color-link: #7f5acb;
	--button-bg-color: #cb5dd1;
	--color-primary: #7f5acb;
}

/* Default styles for both light and dark mode */

body {
	font-family: sans-serif;
	background: var(--color-background-main);
	color: var(--text-color);
	margin: 0;
}

h1 {
	font-size: 2rem;
	color: var(--text-color);
}

p {
	line-height: 1.5;
}

/* Styles for dark mode */

.dark {
	--color-background: #212529;
	--text-color: #fff;
	--text-color-soft: #f8f9fa;
	--text-color-link: #7f5acb;
	--button-bg-color: #ffc107;
}

/* Toggle the dark mode */

body.dark {
	--color-background: #212529;
	--color-background-main: #585858;
	--text-color: #fff;
	--text-color-soft: #f8f9fa;
	--text-color-link: #7f5acb;
	--button-bg-color: #ffc107;
}

#alert {
	z-index: 999;
}

.alert {
	min-width: 320px;
	z-index: 999;
}

.alert::before {
	margin-right: 15px;
}

main {
	min-height: 1000px;
}

@media (max-width: 767.98px) {
	div.alert {
		width: 90% !important;
		margin-left: auto !important;
		margin-right: auto !important;
		left: 0 !important;
		right: 0 !important;
		font-size: 14px !important;
	}

	.nav.nav-tabs.nav-tabs-bordered {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	.nav.nav-tabs.nav-tabs-bordered li {
		width: 50%;
		padding: 0 0.25em;
		margin-bottom: 0.5em;
	}

	.nav.nav-tabs.nav-tabs-bordered li button {
		width: 100%;
		padding: 1em;
		border-bottom: 2px solid var(--text-color);
		border-radius: 0;
	}

	.nav.nav-tabs.nav-tabs-bordered li button.active {
		background-color: #cfe2ff !important;
		border-bottom: 2px solid var(--bs-primary);
	}
}